<section class="hero">
  <h1>{{ name }}</h1>

  <dl>
    <dt>Nombre:</dt>
    <dd>{{ name }}</dd>
    <dt>Edad:</dt>
    <dd>{{ age }}</dd>
    <dt>Descripción:</dt>
    <dd>{{ getheroDescription() }}</dd>
    <dt>Capitalizado:</dt>
    <dd>{{ capitalizedName }}</dd>
  </dl>

  <button (click)="changeAge()" *ngIf="age === 45">Cambiar edad</button>
  <button (click)="changeHero()" *ngIf="name === 'Ironman'">
    Cambiar nombre
  </button>
  <button (click)="resetData()" *ngIf="name !== 'Ironman' || age !== 45">
    Resetear datos
  </button>
</section>
