h1 {
  font-size: 50px;
}

.hero {
  background-color: #f4f4f4;
  padding: 2rem;
}
dl {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

dd {
  margin-left: 0;
  font-size: 1.5rem;
}

button {
  background-color: #f4f4f4;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1rem;
}

button:hover {
  background-color: #000;
  color: #fff;
}
