ul {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}

ul li {
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
  border-bottom: 2px solid red;
  margin-bottom: 1rem;
}
