<h3>Listado de heroes</h3>

<h2 *ngIf="deletedHero; else noHeroDeleted">
  Héroe borrado --> <small>{{ deletedHero ? deletedHero.name : "" }}</small>
</h2>
<ng-template #noHeroDeleted>
  <h2>No ha borrado ningún héroe</h2>
</ng-template>

<button *ngIf="heroes.length > 0" (click)="deleteLastHero()">
  Borrar último héroe
</button>
<ul>
  <li *ngFor="let hero of heroes">
    <p>{{ hero.name }}</p>
    <p>{{ hero.age }}</p>
    <p>{{ hero.superPower }}</p>
  </li>
</ul>
