<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      index as i;
      first as first;
      last as last;
      even as even;
      odd as odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-danger': character.power > 10000,
      'list-group-item-warning':
        character.power > 8000 && character.power <= 10000,
      'list-group-item-info': character.power > 5000 && character.power <= 8000,
      'list-group-item-success': character.power <= 5000
    }"
  >
    <span class="text-primary">{{ i + 1 }}. </span>
    <span> {{ character.name }} </span>
    <strong> Power </strong>
    <span> {{ character.power }}</span>
    <button
      class="btn btn-danger m-1"
      (click)="emitRemoveCharacter(character.id)"
    >
      x
    </button>
  </li>
</ul>
