<!-- Seccion 4 -->
<!-- <h1>Hello {{ title }}!</h1>
<hr />
<app-counter></app-counter>
<hr />
<app-heroes-hero></app-heroes-hero>
<hr />
<app-heroes-list></app-heroes-list> -->

<!-- Sección 5 -->
<app-dbz-main-page></app-dbz-main-page>
