<h4>Agregar personaje</h4>
<form class="form-group" (ngSubmit)="emitAddCharacter()">
  <input
    [(ngModel)]="newCharacter.name"
    type="text"
    class="form-control mb-2"
    placeholder="Nombre"
    name="name"
  />
  <input
    [(ngModel)]="newCharacter.power"
    class="form-control mb-2"
    type="number"
    placeholder="Poder"
    name="power"
  />
  <button type="submit" class="btn btn-primary mt-2">Agregar</button>

  <!-- <pre>{{ newCharacter | json }}</pre> -->
</form>
