<h1>DBZ Personajes</h1>
<hr />
<div class="row">
  <div class="col">
    <dbz-list
      [characterList]="characters"
      (onRemoveCharacter)="onDeleteCharacter($event)"
    ></dbz-list>
  </div>
  <div class="col">
    <dbz-add-character
      [characterList]="characters"
      (onNewCharacter)="onAddCharacter($event)"
    ></dbz-add-character>
  </div>
</div>
